server:
  port: 8082
spring:
  application:
    name: "PlazoletaMsTrace"
  devtools:
    add-properties: false
  profiles:
    include: null
  datasource:
    url: "jdbc:mysql://localhost:3308/traceability_db?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC"
    username: "root"
    password: "root123"
    driverClassName: "com.mysql.cj.jdbc.Driver"
  jpa:
    hibernate:
      ddl-auto: "update"
    show-sql: true
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.MySQL8Dialect"
        format_sql: true
    databasePlatform: "org.hibernate.dialect.MySQL8Dialect"
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"
